.learn_section{
    background-color: rgb(238, 238, 238);
    position: relative;
    width: 100%;
    height: 95vh;
    padding: 20px;
    overflow: scroll;
}

.flashCard_position {
    position: relative;
    width: 100%;
    height: 45vh;
}

.flashCard {
    background-color: white;
    min-width: 638px;
    width: 40%;
    height: 370px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 195px;
    border: 1px solid grey;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    position: relative;
}

.flash_main_pre {
    position: fixed;
    top: 150px;
    left: 40px;
    width: 500px;
    /* background-color: blue; */
}

.flash_main_pre h3 {
    padding: 10px;
}

.flash_main_pre li {
    list-style-position: inside;
    padding: 5px;
}

.flashCard span {
    font-size: 50px;
    margin-bottom: 25px;
    color: black;
}

.flashCard form input {
    position: absolute;
    bottom: 30px;
    left: 30px;
    border: none;
    border-bottom: 1px solid grey;
    color: black;
    font-size: 36px;
    border-radius: 0px;
    background-color: transparent;
    text-align: center;
    padding: 20px 20px 10px 20px;
    width: 70%;
}

.flashCard form input::placeholder {
    color: grey;
    font-size: 36px;
}

.flashCard form button {
    position: absolute;
    bottom: 30px;
    right: 10px;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    border: 1px solid grey;
    background-color:rgb(38, 78, 212);
    color: white;
}

.flashCard form button:hover {
    background-color: rgb(36, 151, 93);
    cursor: pointer;
}

#hide {
    display: none;
}

#true_validation {
    color: green;
}

#false_validation {
    color: red;
}

@media screen and (max-width: 768px){
    .learn_section{
        background-color: rgb(238, 238, 238);
        width: 100%;
        height: 95vh;
        padding: 20px;
        overflow: initial;
        display: flex;
        flex-direction: column;
    }
    
    .flashCard_position {
        position: initial;
    }
    
    .flashCard {
        background-color: white;
        min-width: initial;
        width: 100%;
        height: 370px;
        margin-left: 0px;
        margin-top: 175px;
        border: 1px solid grey;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        position: initial;
    }
    
    .flash_main_pre {
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        /* background-color: blue; */
    }
    
    .flash_main_pre h3 {
        padding: 10px;
    }
    
    .flash_main_pre li {
        font-size: 14px;
        list-style-position: inside;
        padding: 5px;
    }
    
    .flashCard span {
        font-size: 50px;
        margin-bottom: 25px;
        color: black;
    }

    .flashCard form {
        display: flex;
        flex-direction: column;
    }
    
    .flashCard form input {
        position: initial;
        border: none;
        border-bottom: 1px solid grey;
        color: black;
        font-size: 36px;
        border-radius: 0px;
        background-color: transparent;
        text-align: center;
        padding: 10px 20px 10px 20px;
        width: 70%;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .flashCard form input::placeholder {
        color: grey;
        font-size: 24px;
    }
    
    .flashCard form button {
        position: initial;
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        padding: 10px 20px 10px 20px;
        border-radius: 5px;
        border: 1px solid grey;
        background-color:rgb(38, 78, 212);
        color: white;
    }
    
    .flashCard form button:hover {
        background-color: rgb(36, 151, 93);
        cursor: pointer;
    }
}